h2{
    color: blue;
    background-color: yellow;
}

#second{
    color: white;
    background-color: green;
} /*id selector*/

.third{
    color: black;
    background-color: orange;
}

span>p{
    color: purple;
    font-size: 40px;
}

h1+h2{
    border: 10px solid red;
}

p{
    background-color: lightsalmon;
    border: 30px solid black;
    padding: 30px;
    margin: 30px;
}

div{
    display: block;
    border: 3px solid pink;
    background-color: lightseagreen;
    padding: 10px;
}


.image{
    position: relative;
    top: 200px;
    left: 60px;
    z-index: 1;
}